<!-- <footer id="footer">
    <div class="btmstripe"></div>
    <p><span class="not-mobile">Bunny Lake Films&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;New York</span>
		<span class="not-mobile">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="tel:+16465915278"> +1 646
            591
            5278</a>&nbsp;&nbsp;
        &nbsp;|&nbsp;&nbsp;
        &nbsp; <a href="#" class="mail_info">
			<%= obfuscated_email %>
		</a></span></p>
</footer> -->