<body class="no-js page-stage">

<div class="container fullsite">

    <%= render partial: 'menu' %>

    <hr/>

<div class="content" id="stage">

    <div id="videoFrame">
        <iframe id="video-player" src="" width="100%" height="100%" frameborder="0"
                byline="0" color="ce3229" title="0" badge="0" autoplay="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <div class="folio" id="stagethumbs">
        <div class="thumblist stage clearfix">
            <div class="thumb video-thumb">
				<%# link_to work %>
                <a href="https://vimeo.com/65689737" data-src="//player.vimeo.com/video/65689737">
                    <div class='playarrow'></div>
                    <div class="videowrap">
                        <img width="320" height="184" class="js-mobile-video-placeholder" src="http://i.vimeocdn.com/video/436809007_640.jpg">
                    </div>
                </a>
            </div>

            <div class="thumb video-thumb tablet-last">
                <a href="https://vimeo.com/38284909" data-src="//player.vimeo.com/video/38284909">
                    <div class='playarrow'></div>
                <div class="videowrap">
                    <img width="320" height="184" class="js-mobile-video-placeholder" src="http://i.vimeocdn.com/video/263408433_640.jpg">
                </div>
                </a>
            </div>

            <div class="thumb video-thumb last">
                <a href="https://vimeo.com/29493016" data-src="//player.vimeo.com/video/29493016">
                    <div class='playarrow'></div>
                    <div class="videowrap">
                        <img width="320" height="184" class="js-mobile-video-placeholder" src="http://i.vimeocdn.com/video/433364793_640.jpg">
                    </div>
                </a>
            </div>
            <div class="thumb video-thumb tablet-last">
                <a href="https://vimeo.com/29044239" data-src="//player.vimeo.com/video/29044239">
                    <div class='playarrow'></div>
                <div class="videowrap">
                    <img width="320" height="184" class="js-mobile-video-placeholder" src="http://i.vimeocdn.com/video/433364966_640.jpg">
                </div>
                </a>
            </div>
            <div class="thumb video-thumb">
                <a href="https://vimeo.com/70084576" data-src="//player.vimeo.com/video/70084576">
                    <div class='playarrow'></div>
                <div class="videowrap">
                    <img width="320" height="184" class="js-mobile-video-placeholder" src="http://i.vimeocdn.com/video/443158695_640.jpg">
                </div>
                </a>
            </div>
            <div class="thumb video-thumb last tablet-last">
                <a href="https://vimeo.com/91810493" data-src="//player.vimeo.com/video/91810493">
                    <div class='playarrow'></div>
                <div class="videowrap">
                    <img width="320" height="184" class="js-mobile-video-placeholder" src="http://i.vimeocdn.com/video/474338168_640.jpg">
                </div>
                </a>
            </div>
            <div class="thumb video-thumb">
                <a href="https://vimeo.com/24439706" data-src="//player.vimeo.com/video/24439706">
                    <div class='playarrow'></div>
                <div class="videowrap">
                    <img width="320" height="184" class="js-mobile-video-placeholder" src="http://i.vimeocdn.com/video/160112200_640.jpg">
                </div>
                </a>
            </div>
            <div class="thumb video-thumb tablet-last" data-id="valio">
                <a href="https://vimeo.com/32999658" data-src="//player.vimeo.com/video/32999658">
                    <div class='playarrow'></div>
                <div class="videowrap">
                        <img width="320" height="184" class="js-mobile-video-placeholder" src="http://i.vimeocdn.com/video/223677992_640.jpg">
                    </div>
                </a>
            </div>
            <div class="thumb video-thumb last" data-id="vr_nykyajan_uudisraivaajat">
                <a href="https://vimeo.com/39310322" data-src="//player.vimeo.com/video/39310322">
                    <div class='playarrow'></div>
                    <div class="videowrap">
                        <img width="320" height="184" class="js-mobile-video-placeholder" src="http://i.vimeocdn.com/video/437040436_640.jpg">
                    </div>
                </a>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>

</div>
</div>

<%= render partial: 'mobile_index' %>

<%= render partial: 'footer' %>

</body>