<body class="no-js page-backstage">
<div class="container fullsite">

    <%= render partial: 'menu' %>

    <hr/>

<div class="content" id="backstage">

            <!-- <div class="card celine card_center">
                <div>
                    <div class="info">
                        <p><span class="name">Celine Danhier</span><br/>
                            Creative Director &amp; Filmmaker
                        </p>
                        <p class="team_paragraphs">
							<br>
							Celine Danhier is currently Directing and acting as Creative Director
							for Bunny Lake.  Danhier made her transition into film after receiving
							a master’s degree in Law from the Sorbonne.  Danhier became involved
							 in film while working at Paris-based independent production house,
							Les Enrages. After moving to New York in 2007, Danhier began as an art
							director for various photo shoots before moving on to directing runway
							shows.  She moved between fashion and film before directing the
							acclaimed feature documentary BLANK CITY (2011).  Since then, Danhier
							has directed music &amp; art videos and fashion films for clients including:
							M.A.C, Albright Fashion Library, The Museum of FIT, Body Editions,
							Princess Superstar and Talk Normal.  Her work has debuted across multiple
							platforms, including Nowness, Purple Magazine and Harper's Bazaar.

                        </p>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div> -->

            <div class="card rachel card_center">
                <div>
                    <div class="info">
                        <p><span class="name">Rachel Dengiz</span><br/>
                            Producer &amp; Filmmaker
                        </p>
                        <p class="team_paragraphs">
							<br>
							Rachel Dengiz began her career working for independent filmmaker
							Jim Jarmusch, where she served as an associate producer on COFFEE &amp;
							CIGARETTES and production associate on BROKEN FLOWERS. She has
							directed two documentaries and produced multiple music videos. She
							recently produced THE PUNK SINGER and MEDORA – which both premiered
							at the 2012 South by Southwest Film Festival, MEODRA was released on
							PBS' Independent Lens, and THE PUNK SINGER was released by Sundance
							Selects/IFC. She previously served as an Executive for Olive Productions
							(Wren Arthur, Steve Buscemi &amp; Stanley Tucci’s production company),
							and served as co-producer on the Emmy Nominated PARK BENCH web series
							for AOL, directed by Steve Buscemi. Rachel recently wrapped production
							on the narrative feature KEEP IN TOUCH, and two shorts: HIGH PHANTOM
							PLAYBACK; and SAND CASTLE. She is currently producing a documentary
							about the art world, directed by Sara Driver, as well as Theresa
							Rebeck's narrative feature POOR BEHAVIOR, and Hanna Beth King's
							narrative feature DIRT ROADS.

                        </p>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>

            <div class="card vanessa card_center">
                <div>
                    <div class="info">
                        <p><span class="name">Vanessa Roworth</span><br/>
                            Editor &amp; Post Supervisor
                        </p>
                        <p class="team_paragraphs">
							<br>
							Vanessa Roworth is a New York based film &amp; video editor specializing
							in documentary. Her work has screened as official selections at film
							festivals worldwide including Berlin, SXSW, Hot Docs, Full Frame,
							Edinburgh, and AFI. Vanessa recently edited the feature documentary
							MEDORA (Beachside Films) which premiered at the 2013 SXSW film
							festival.  Her first feature documentary BLANK CITY was released
							theatrically in 2011 by Kino Lorber/ Insurgent Media following a
							successful premiere at the 2010 Berlin Film Festival. Currently
							working as a freelance editor, Vanessa has also cut numerous projects
							from short form documentary to music videos to commercials.

                        </p>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>

            <div class="card aviva card_center">
                <div>
                    <div class="info">
                        <p><span class="name">Aviva Wishnow</span><br/>
                            Producer
                        </p>
                        <p class="team_paragraphs">
							<br>
							Aviva Wishnow is currently developing, producing and financing fiction
							and documentary films for Bunny Lake.  Wishnow’s expertise in
							production, financing and distribution for the last fifteen years
							include fiction and documentary films that have been invited to
							Sundance, Berlin, Tribeca and even the White House.  She previously
							worked over three years for iDeal Partners Film Fund where she
							co-produced “The Inevitable Defeat of Mister &amp; Pete”, directed by
							George Tillman Jr., starring Oscar winner Jennifer Hudson, Anthony
							Mackie and Jeffrey Wright, which had its World Premiere at Sundance
							2013 and was theatrically released In October 2013 by
							Lionsgate/CodeBlack.  Wishnow also produced the documentary BLANK
							CITY, which has been critically acclaimed and had its international
							premiere at the Berlin Film Festival (Panorama 2010). The film had its
							US theatrical release in 2011 (Kino Lorber/Insurgent) and has been
							released theatrically and on TV in key territories worldwide. Before
							entering production, Wishnow started out in film distribution at a
							handful of notable NYC international sales agents. She consulted at
							Sierra Affinity, Sidney Kimmel International and GreeneStreet Films
							International, among others. Before moving to NY, Wishnow assisted in
							programming the CineVegas Film Festival after graduating from Oberlin
							College.

                        </p>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>

        </div>
    </div>

</div>

</div>
</div>

<%= render partial: 'mobile_index' %>

<%= render partial: 'footer' %>

</body>
