@font-face {
  font-family: 'Tungsten-Medium';
  src: url(/assets/Tungsten-Medium.eot);
  /* IE9 Compat Modes */
  src: url(/assets/Tungsten-Medium.eot?#iefix) format("embedded-opentype"), url(/assets/Tungsten-Medium.otf) format("opentype"), url(/assets/Tungsten-Medium.ttf) format("truetype"), url(/assets/Tungsten-Medium.svg#svgFontName) format("svg");
  /* Legacy iOS */
}

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 36, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
dl,
menu,
ol,
ul {
  margin: 0 0;
}

/* line 40, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 50, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 59, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 64, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
li, ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 70, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
li, ul, dl {
  margin: 0;
  padding: 0;
}

/* line 74, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
html {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 78, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
html, body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

/* line 83, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Tungsten-Medium', serif;
  font-size: 17px;
  color: #555;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* line 94, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
a {
  text-decoration: none;
  color: #555;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

/* line 104, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
a.dark_background {
  color: #fff;
}

/* line 108, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
a:hover {
  color: #ce3229;
}

/* line 112, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
p {
  font-size: 17px;
  line-height: 27px;
}

/* line 116, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
b, strong {
  font-family: 'Tungsten-Medium', serif;
  font-weight: bold;
}

/* line 122, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
img {
  border-style: none;
}

/* line 126, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333;
  margin: 14px 0;
  padding: 0;
}

/* line 135, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.fl {
  float: left;
}

/* line 139, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.fr {
  float: right;
}

/* line 143, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile-info-panel {
  display: none;
  background: #161515;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-family: 'Tungsten-Medium', serif;
  font-size: 21px;
  margin-bottom: 20px;
}

/* line 155, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile-info-panel .info {
  position: relative;
}

/* line 159, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile-info-panel .info .info-content {
  margin-top: 50px;
}

/* line 163, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile-info-panel p {
  font-size: 21px;
  margin: 0;
  padding: 0;
  line-height: 140%;
}

/* line 170, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile-info-panel .featuring {
  border-left: 1px solid #5b5a5a;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 176, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile-info-panel .featuring .feat {
  display: block;
  padding: 0 0 10px 0;
}

/* line 181, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile-info-panel .featuring h1 {
  font-size: 21px;
  margin: 0;
  padding: 0 0 20px 0;
}

/* line 187, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile-info-panel .mobile-info-panel-inner {
  padding: 20px;
}

/* line 194, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.page-home {
  background: white;
}

/* line 202, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.page-home footer, .page-home .container.fullsite hr {
  display: none;
}

/* line 206, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#home_bg_loop {
  -webkit-transition: opacity .8s ease-out;
  -moz-transition: opacity .8s ease-out;
  -o-transition: opacity .8s ease-out;
  -ms-transition: opacity .8s ease-out;
  transition: opacity .8s ease-out;
}

/* line 214, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.head img {
  width: 100%;
  height: auto;
}

/* line 219, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.container.fullsite {
  width: 860px;
  margin-left: auto;
  margin-right: auto;
}

/* line 225, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.work_skip_button {
  font-size: 24px;
}

/* line 226, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.work_skip_prev {
  float: left;
}

/* line 227, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.work_skip_next {
  float: right;
}

/* line 232, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.container.mobile {
  width: 100%;
  display: none;
  background: white;
}

/* line 238, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.container.mobile .top .bg img {
  /*width: 100%;
  height: auto;*/
}

/* line 243, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#menu {
  font-family: 'Tungsten-Medium', serif;
  font-style: normal;
  font-size: 48px;
  margin-top: 66px;
  width: 100%;
  height: 54px;
}

/* line 255, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#menu a {
  color: #555;
}

/* line 259, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#menu a:hover {
  color: #ce3229;
}

/* line 263, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#menu div, #cat_menu div {
  margin-right: 25px;
  float: left;
  clear: none;
}

/* line 269, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#cat_menu div {
  font-size: 24px;
}

/* line 273, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#cat_menu a.selected {
  color: #ce3229;
}

/* line 277, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#menu div.last {
  margin-right: 0;
}

/* line 280, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#menu .stage {
  margin-left: 87px;
}

/* line 283, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#menu .backstage {
  margin-left: 45px;
}

/* line 286, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#menu .production {
  margin-left: 35px;
}

/* line 289, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#menu .last {
  float: right;
}

/* line 293, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.content {
  /*width: 100%;*/
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 299, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#home {
  position: fixed;
  z-index: 9;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 309, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#home .bg {
  position: absolute;
}

/* line 312, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#home .videowrap {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
}

/* line 322, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
nav.front_super_menu {
  z-index: 10;
  position: relative;
  height: 300px;
}

/* line 332, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#frontmenu {
  width: 100%;
  height: 100%;
  position: relative;
  /*position: absolute;*/
  z-index: 10;
  /*width: 100%;*/
}

/* line 357, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#frontmenu .inner {
  width: 1024px;
  height: 150px;
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  top: 25px;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

/* line 369, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#frontmenu .inner a {
  color: #ffffff;
  margin-right: 15px;
}

/* line 374, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#frontmenu .inner a.super_logo {
  font-size: 64px;
}

/* line 379, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#frontmenu .inner a:hover {
  color: #ce3229;
}

/* line 383, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#frontmenu .inner .front_logo {
  font-size: 42px;
}

/* line 387, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#frontmenu .inner .front_logo a {
  color: #D3463E !important;
}

/* line 391, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#frontmenu .hl {
  width: 188px;
  margin-left: 12px;
  padding-bottom: 4px;
  margin-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #fff;
}

/* line 404, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#backstage .head {
  margin-bottom: 20px;
}

/*#backstage .cols {
    height: 950px;
}*/
/* line 411, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#backstage .left {
  float: left;
  margin-right: 20px;
  width: 180px;
  /*height: 930px;*/
  height: 961px;
  background-color: #161515;
  padding-left: 20px;
  padding-top: 40px;
}

/* line 421, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#backstage .left p {
  margin-top: 0;
  text-transform: uppercase;
  font-family: 'Tungsten-Medium', serif;
  /*font-size: 21px;
  line-height: 34px;*/
  font-size: 18px;
  line-height: 27px;
  -webkit-font-smoothing: antialiased;
  color: white;
  /*text-shadow: 0px 0px rgba(255, 255, 255, 0.8);*/
}

/* line 434, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#backstage .left p .email {
  font-size: 18px;
}

/* line 437, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#backstage .left hr {
  border-top: 1px solid white;
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 40px;
}

/* line 443, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#backstage .left p.feat {
  line-height: 30px;
}

/* line 446, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#backstage .left p .star {
  font-size: 15px;
  line-height: 15px;
  display: inline-block;
  height: 17px;
  position: relative;
  top: -2px;
  margin-right: 1px;
}

/* line 455, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#backstage .left a.feat {
  display: inline-block;
  clear: left;
  font-family: 'Tungsten-Medium', serif;
  /*font-size: 13px;*/
  font-size: 18px;
  text-transform: uppercase;
  /*text-transform: uppercase;*/
  line-height: 10px;
  position: relative;
  top: -6px;
}

/* line 468, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#backstage .right {
  float: right;
}

/* line 471, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#backstage .card {
  width: 540px;
  padding: 20px;
  padding-right: 90px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

/* line 480, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.card p {
  margin: 0;
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 20px;
}

/* line 486, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.card .name {
  text-transform: uppercase;
  font-family: 'Tungsten-Medium', serif;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  color: #222;
  /*text-shadow: 0px 0px rgba(0, 0, 0, 0.5);*/
}

/* line 496, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#videoFrame {
  width: 860px;
  height: 0;
  background: black;
  margin-bottom: 20px;
  -webkit-transition: height 1s ease-in-out;
  -moz-transition: height 1s ease-in-out;
  -o-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
}

/* line 508, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#videoFrame.show {
  height: 484px;
}

/* line 512, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.image-carousel {
  position: relative;
  width: 860px;
  height: 382px;
}

/* line 518, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.image-carousel img {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

/* line 533, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.image-carousel img.opaque {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

/* line 541, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#backstage .card.jappe .info {
  padding-top: 27px;
}

/* line 546, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#backstage .card.jp .info {
  padding-top: 27px;
}

/* line 551, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#backstage .card.pauliina .info {
  padding-top: 25px;
}

/* line 556, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#backstage .card.jussi .info {
  padding-top: 7px;
}

/* line 559, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#backstage .card img {
  float: right;
}

/* line 563, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#production .head {
  margin-bottom: 50px;
}

/* line 567, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#production .head .col1 {
  float: left;
  clear: none;
  width: 250px;
  margin-right: 20px;
}

/* line 573, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#production .head .col2 {
  float: left;
  clear: none;
  width: 570px;
}

/* line 583, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#production .head p {
  font-size: 18px;
  line-height: 18px;
  clear: none;
  margin: 0;
}

/* line 589, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#production .head .col1 p {
  font-size: 19px;
  /*line-height: 30px;*/
  line-height: 34px;
}

/* line 594, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#production .head .col2 p {
  margin-top: 3px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 25px;
  margin-right: auto;
  margin-left: auto;
  width: 500px;
  text-align: center;
}

/* line 607, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#super_about {
  font-family: "futura-pt",sans-serif;
  font-size: 14px !important;
  line-height: 20px !important;
  text-align: justify;
  text-justify: inter-word;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
}

/* line 621, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#production .head .col3 p {
  margin-top: 10px;
  margin-left: 3px;
}

/* line 626, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.folio {
  margin-bottom: 0px;
  clear: both;
}

/* line 631, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.folio .title {
  /*margin-bottom: 7px;*/
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: 'Tungsten-Medium', serif;
  font-size: 23px;
  -webkit-font-smoothing: antialiased;
  color: #222;
  /*text-shadow: 0px 0px rgba(0, 0, 0, 0.5);*/
}

/* line 644, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.folio .thumb {
  width: 200px;
  height: 113px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: -2px;
  background-color: black;
  float: left;
  /*clear: none;
  display: inline-block;
  */
}

/* line 657, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.folio .thumb.fullwidth_last {
  margin-right: 0;
}

/* line 661, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.folio .last {
  width: 200px;
  /*float: none;*/
  margin-right: 0;
}

/* line 667, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#stage .folio .last {
  margin-right: 0px;
}

/* line 670, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#production .thumb img {
  width: 200px;
  height: 113px;
}

/* line 676, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.folio .stage .thumb {
  width: 272px;
  height: 153px;
  position: relative;
  /*
  left: 0;
  right: 0;
  */
}

/* line 685, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.folio .stage .thumb .videowrap {
  width: 320px;
  height: 180px;
  overflow: hidden;
  -webkit-transform: scale(0.85, 0.85);
  -webkit-transform-origin: 0 0;
  transform: scale(0.85, 0.85);
  transform-origin: 0 0;
}

/* line 694, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.folio .stage .thumb .playarrow {
  position: absolute;
  left: 98px;
  top: 45px;
  width: 64px;
  height: 69px;
  background-image: url(/assets/videothumb_play.png);
  z-index: 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity .6s ease-out;
  -moz-transition: opacity .6s ease-out;
  -o-transition: opacity .6s ease-out;
  -ms-transition: opacity .6s ease-out;
  transition: opacity .6s ease-out;
}

/* line 716, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.folio .stage .thumb .playarrow.show {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

/* line 724, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.video-thumb a {
  display: block;
  position: relative;
}

/* line 729, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .playarrow {
  position: absolute;
  width: 64px;
  height: 69px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(/assets/videothumb_play.png);
}

/* line 740, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#footer {
  width: 100%;
  height: 90px;
  background-color: #161515;
}

/* line 745, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#footer .btmstripe {
  position: relative;
  top: 86px;
  width: 100%;
  height: 4px;
  background-color: #a7a6a6;
}

/* line 752, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#footer p {
  font-family: 'Tungsten-Medium', serif;
  color: #aaa;
  font-size: 18px;
  /*width: 100%;*/
  text-align: center;
  /*padding-top: 14px;*/
  padding: 14px 10px 0 10px;
}

/* line 763, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#footer a {
  color: #aaa;
}

/* line 767, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .top .bg {
  position: relative;
}

/* line 771, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .top .info {
  /*width: 118px;
  height: 233px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;*/
}

/* line 780, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .top .info hr {
  background: white;
  padding: 0;
  margin: 0;
  margin: 14px auto;
  max-width: 118px;
}

/* line 787, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .top {
  /*height: 480px;*/
}

/*.mobile .top .bg {
    position: absolute;
    overflow: hidden;
}*/
/* line 797, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .top .info {
  position: absolute;
  overflow: auto;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 50%;
  text-align: center;
  color: white;
  font-family: 'Tungsten-Medium', serif;
  color: #555;
  font-size: 48px;
}

/* line 814, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .top .info p {
  margin: 0;
  padding: 0;
  line-height: 120%;
  padding-bottom: 10px;
  font-size: 24px;
}

/* line 821, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .top .info p.last {
  padding-bottom: 0;
}

/* line 825, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .top .info img {
  /*display: block;
  width: 118px;
  margin-left: auto;
  margin-right: auto;*/
}

/* line 831, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .block {
  width: 100%;
}

/* line 834, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .inner {
  text-align: center;
}

/* line 837, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .inner img {
  /*
  margin-left: auto;
  margin-right: auto;
  display: block;
  */
}

/* line 845, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .inner li {
  position: relative;
  margin: 0;
  padding: 0;
}

/* line 850, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .inner .work-list li {
  margin-bottom: 20px;
}

/*.mobile .inner li a {
    display: block;
}*/
/* line 858, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .inner li img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 864, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .inner .head {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 36px;
}

/* line 869, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile img.thumb.m {
  /*margin-bottom: 20px;*/
}

/* line 874, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .backstage {
  padding-bottom: 30px;
}

/* line 877, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .production {
  padding-top: 15px;
  background-color: #161515;
}

/* line 881, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .production p {
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  color: #ccc;
  text-align: left;
  font-size: 17px;
  line-height: 26px;
}

/* line 890, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.mobile .production .contact {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 899px) {
  /* line 897, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  .container.fullsite {
    width: 688px;
  }

  /* line 901, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  .mobile-info-panel {
    display: block;
  }

  /* line 905, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  .image-carousel {
    position: relative;
    width: 688px;
    height: 306px;
  }

  /* line 911, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  #videoFrame {
    width: 588px;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 917, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  #videoFrame.show {
    height: 331px;
  }

  /* line 921, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  #menu .stage {
    margin-left: 50px;
  }

  /* line 924, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  #menu .backstage {
    margin-left: 20px;
  }

  /* line 927, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  #menu .production {
    float: right;
    margin-left: 0px;
  }

  /* line 931, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  #menu .last {
    float: none;
    position: relative;
    left: 624px;
    top: -116px;
  }

  /* line 937, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  p {
    font-size: 15px;
    line-height: 23px;
  }

  /* line 941, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  #production .head img {
    margin-bottom: 40px;
  }

  /* line 944, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  .folio .thumb {
    margin-right: 44px;
  }

  /* line 948, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  .folio .last {
    margin-right: 0;
  }

  /* line 952, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  .folio .thumb.fullwidth_last {
    margin-right: 44px;
  }

  /* line 956, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  .folio .third_col {
    margin-right: 0 !important;
  }

  /* line 960, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  #stage .folio .last {
    margin-right: 44px;
  }

  /* line 964, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  #stagethumbs {
    width: 588px;
    margin: 0 auto;
  }

  /* line 969, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  #stagethumbs .tablet-last {
    margin-right: 0 !important;
  }

  /* line 973, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  #production .head .col2 {
    float: right;
  }

  /* line 977, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  #production .head .col3 {
    display: none;
  }

  /* line 981, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  #backstage .left {
    display: none;
    float: none;
    height: auto;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  /* line 990, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  #backstage .left p {
    margin: 0;
    padding: 0;
  }

  /* line 994, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  #backstage .left hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* line 999, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  #backstage .left .inner {
    padding: 20px;
  }

  /* line 1003, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  #backstage .right {
    float: none;
  }

  /* line 1007, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
  #backstage .right .card {
    width: auto;
  }
}
/* line 1054, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 1059, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.clearfix:after {
  clear: both;
}

/* line 1063, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.clearfix {
  *zoom: 1;
}

/* line 1067, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.container.mobile .contact-info {
  text-align: left;
}

/* line 1071, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.container.mobile .contact-info a {
  display: block;
  padding-top: 10px;
}

/* line 1076, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.container.mobile .contact-info {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

/* line 1082, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.container.mobile .contact-info .contact-icon {
  width: 30%;
  text-align: center;
  padding-left: 10px;
}

/* line 1088, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.container.mobile .contact-info .contact-details {
  width: 70%;
}

/* line 1092, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.container.mobile .contact-info .contact-details ul {
  padding-bottom: 27px;
}

/* line 1096, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.container.mobile .contact-info dd {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

/* line 1101, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.container.mobile .contact-info td {
  vertical-align: top;
}

/* line 1105, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.container.mobile .contact-info td {
  margin-left: auto;
  margin-right: auto;
}

/* line 1110, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.container.mobile .contact-info .sub-title {
  text-transform: uppercase;
}

/* line 1114, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.sprite {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(sprite.png);
}

/* line 1116, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#menu .home a {
  width: 128px;
  height: 50px;
  background-position: -2px -106px;
}

/* line 1120, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#menu .home a:hover {
  color: #ce3229;
}

/* line 1124, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#menu .stage a {
  width: 69px;
  height: 50px;
  background-position: -132px -106px;
}

/* line 1128, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#menu .stage a:hover, .page-stage #menu .stage a {
  width: 69px;
  height: 50px;
  background-position: -203px -106px;
}

/* line 1132, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#menu .backstage a {
  width: 157px;
  height: 50px;
  background-position: -241px -2px;
}

/* line 1136, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#menu .backstage a:hover, .page-backstage #menu .backstage a {
  width: 157px;
  height: 50px;
  background-position: -241px -54px;
}

/* line 1140, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#menu .production a {
  width: 237px;
  height: 50px;
  background-position: -2px -2px;
}

/* line 1144, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#menu .production a:hover, .page-productionservice #menu .production a {
  width: 237px;
  height: 50px;
  background-position: -2px -54px;
}

/* line 1147, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#menu #fb a {
  width: 64px;
  height: 50px;
  background-position: -340px -106px;
}

/* line 1151, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
#menu #fb a:hover {
  width: 64px;
  height: 50px;
  background-position: -274px -106px;
}

/* line 1155, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.video-placeholder-img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 2048px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 175px !important;
  left: 0;
}

/* line 1174, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
nav#menu ul {
  text-align: left;
  display: inline;
  margin: 0;
  list-style: none;
}

/* line 1180, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
nav#menu ul li {
  display: inline-block;
  position: relative;
  padding-right: 40px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 36px;
}

/* line 1194, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
nav#menu ul li.up_bump {
  bottom: 20px;
}

/* line 1198, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
nav#menu ul li ul {
  padding: 0;
  position: absolute;
  top: 38px;
  left: 0;
  width: 190px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  z-index: 100;
}

/* line 1217, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
nav#menu ul li ul li {
  background: #fff;
  display: block;
  color: black;
  font-size: 24px;
  padding-left: 10px;
  text-transform: lowercase;
  z-index: 100;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 1228, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
nav#menu ul li ul li:hover {
  color: #ce3229;
}

/* line 1229, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
nav#menu ul li:hover ul {
  display: block;
  opacity: 0.87;
  visibility: visible;
  z-index: 200;
}

/* line 1236, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.team_paragraphs {
  font-family: "futura-pt",sans-serif;
  font-size: 14px !important;
  line-height: 20px !important;
  text-align: justify;
  text-justify: inter-word;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
}

/* line 1247, /srv/www/andy_personal_bunnylake/app/assets/stylesheets/base.css.scss */
.card_center {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

