<nav id="cat_menu">
	<div>
	<% if @work_status %>
		<%= link_to (@work_status && ('Docs+Features - ' + @work_status.name) ), works_path %>
	<% else %>
		<%= link_to ((@category && @category.name) or 'All'), works_path %>
	<% end %>
	</div>
</nav>
