<% div_class = "thumb video-thumb" %>
<% div_class = "#{div_class} tablet-last" if index.odd? %>
<% div_class = "#{div_class} last" if ((index+1)%3).zero? %>

<div class="<%= div_class %>">
  <%= link_to work do %>
  <div class='playarrow'></div>
  <div class="videowrap">
    <%= image_tag_from_asset_server(work) %>
  </div>
  <div class="video-sub-name">
    <%= work.title %>
  </div>
  <% end %>
</div>
