<main class="crud-container">
<h1>Listing work_statuses</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @work_statuses.each do |work_status| %>
      <tr>
        <td><%= link_to 'Show', [:admin, work_status] %></td>
        <td><%= link_to 'Edit', edit_admin_work_status_path(work_status) %></td>
        <td><%= link_to 'Destroy', [:admin, work_status], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work status', new_admin_work_status_path %>
</main>
