<p>
<h1 style="text-align: center">
WEBSITE UNDER CONSTRUCTION
</h1>
Bunny Lake is a boutique production company based in New York which specializes in online branded content as well as documentaries and feature films. Bunny Lake was founded by Celine Danhier, Rachel Dengiz, Vanessa Roworth and Aviva Wishnow, after years of collaboration in the industry, with the goal of bringing together their collective talents to create and produce high-end content.
<br><br>
Individually and collectively their work has premiered at Sundance, Berlin, and SXSW, and includes the successful documentaries, 2015 emmy winner MEDORA, BLANK CITY, THE PUNK SINGER, the Emmy Nominated AOL web series PARK BENCH, numerous short form content which has appeared on online outlets such as Rolling Stone, Purple, Nowness, Pitchfork, Harper's Bazaar, Stereogum, and LOVE Magazine, and music videos and branded content.
<br><br>
Bunny Lake is excited to work on projects on any level, whether it's creative direction or taking on a project from inception through delivery, we also offer individual feature and commercial services in production, post production and delivery, as well as consultation.
<br><br>
Having built incredibly strong relationships within the industry we collaborate with directors, editors, musicians, post creatives and designers to help meet your needs on every level of production.   Clients include:
</p>
