<div class="back_on_white">
  <p>
  <h1 style="text-align: center">
  WEBSITE UNDER CONSTRUCTION
  </h1>
  <p>
  <span class="bold">Bunny Lake Films</span> is an award-winning, female-founded creative production company with an equal focus on independent film & television and branded content.
  </p>
  <p>
    <span class="bold">Our feature-length films</span> have premiered at Sundance, Berlin, Toronto, Tribeca and SXSW — with powerful stories brought to life through documentaries such as the Emmy-winning MEDORA, THE PUNK SINGER, and BLANK CITY.
  <p>
    <span class="bold">We've brought our free thinking, creative spirit, and story-telling skills to the production</span> of television commercials and short-form branded content for globally recognized brands including Calvin Klein, Louis Vuitton, and MAC Cosmetics, and have created digital content for Vogue, Rolling Stone, and Harper’s Bazaar, among others.
  </p>
  </p>
  <p>
    <span class="bold">We care about building a better world</span>. Our PSAs have helped get the word out through social media platforms and on television for Swing Left, Animals Asia and New York State’s Wear-A-Mask campaign.
  </p>
  <p>
    <span class="bold">We give our highly personalized attention to projects across all media platforms</span>, taking projects from inception to delivery as well as offering more targeted individual services and consultation.
  </p>
  What we do:
  <ul class="circled left mobile-padded">
    <li>
      Pre-Production & Production services: all standard video and photo production services including location scouting, casting, filming, and media management.
    </li>
    <li>
      Post-production Services for Video & Photo: editing, sound mixing, color correction, and retouching.
    </li>
    <li>
      Specialized Services: original music composition, motion graphics, animation, and other visual effects.
    </li>
    <li>
      Creative Services: campaign concepts, briefs, script writing, and pre-edit videos
    </li>
    <li>
      Behind-the-Scenes (BTS) Video/Photo Services
    </li>
  </ul>

  <br/>
  A note on production during the Covid-19 pandemic:
  <br/>
  We currently have the capacity to successfully execute streamlined productions while following CDC guidelines, using minimal crew while our producers and post production team work remotely from their home studios.
<br/>
<p>
  <span class="bold">What's the story behind our name?</span> Bunny Lake is the title character in Otto Preminger’s 1965 thriller “Bunny Lake Is Missing.” We recommend streaming it.
</p>
<p>
  Now that we’ve introduced ourselves, we’d love to know about you and your work. Reach out at any time. We look forward to meeting you.
</p>

  Clients include:
  </p>
</div>
