<ul class="circled">
  <% Client.all.each do |client| %>
    <% if client.name.downcase == "fresh" %>
      <li><i><%= client.name.downcase %></i></li>
    <% else %>
      <li><%= client.name %></li>
    <% end %>
  <% end %>
</ul>
