<%= render "admin/base/header" %>

<main class="crud-container new-crud">

	<nav class='edit-new-menu'>
		<%= link_to 'Back', admin_works_path %>
	</nav>

	<h1>New Work</h1>

	<%= render 'form' %>

</main>
