// Place all the styles related to the base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//@font-face {
//	font-family: Tungsten-Medium;
//	src: url("Tungsten-Medium.otf") format("opentype");
//}
//
//@font-face {
//  font-family: 'Tungsten-Medium';
//  src: url('GraublauWeb.eot?') format('eot'), url('GraublauWeb.woff') format('woff'), url('GraublauWeb.ttf') format('truetype');
//}

$play-button-opacity: 0;

@font-face {
  font-family: 'Tungsten-Medium';
  src: asset_url('Tungsten-Medium.eot'); /* IE9 Compat Modes */
  src: asset_url('Tungsten-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       asset_url('Tungsten-Medium.otf') format('opentype'), /* Modern Browsers */
       asset_url('Tungsten-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       asset_url('Tungsten-Medium.svg#Tungsten-Medium') format('svg'); /* Legacy iOS */
}


/* ==========================================================================
   Lists
   ========================================================================== */

/**
 * Address margins set differently in IE 6/7.
 */

dl,
menu,
ol,
ul {
    margin: 0 0;
}

dd {
    margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

li, ul {
    list-style: none;
    list-style-image: none;
    margin: 0; padding: 0;
}

li, ul, dl {
    margin: 0; padding: 0;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}
html, body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

// Changed #000000 standard color to black

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Tungsten-Medium', serif;
  font-size: 17px;
  color: #000000;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    color: #000000;

    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

a.dark_background {
	color: #fff;
}

a:hover {
//    color: #ce3229;
	color: #555;
}

p {
    font-size: 17px;
    line-height: 27px;
}
b, strong {
    font-family: 'Tungsten-Medium', serif;
//	font-family: "futura-pt",sans-serif;
    font-weight: bold;
}

img {
    border-style: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #333;
    margin: 14px 0;
    padding: 0;
}

// client list settings

ul.client-list  {
}

.client-list-block ul {
  display: block;
}

.client-list-mobile ul {
  margin-left: 33.33%;
  text-align: left;
}

.client-list-dark ul li {
  color: #FFF;
  text-align: left;
}

.list-3-columns {
  -moz-column-count: 3;
  -moz-column-gap: 26px;
  -webkit-column-count: 3;
  -webkit-column-gap: 26px;
  column-count: 3;
  column-gap: 26px;
}

ul.circled li {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.mobile-info-panel {
  display: none;
  background: #161515;
  width: 100%;
  color: white;
  text-transform: uppercase;
	font-family: 'Tungsten-Medium', serif;
  font-size: 21px;
  margin-bottom: 20px;
}

.mobile-info-panel .info {
    position: relative;
}

.mobile-info-panel .info .info-content {
    margin-top: 50px;
}

.mobile-info-panel p {
    font-size: 21px;
    margin: 0;
    padding: 0;
    line-height: 140%;
}

.mobile-info-panel .featuring {
    border-left: 1px solid #5b5a5a;
    padding-left: 20px;
    padding-right: 20px;
}

.mobile-info-panel .featuring .feat {
    display: block;
    padding: 0 0 10px 0;
}

.mobile-info-panel .featuring h1 {
    font-size: 21px;
    margin: 0;
    padding: 0 0 20px 0;
}

.mobile-info-panel .mobile-info-panel-inner {
    padding: 20px;
}

.page-home {
    background: white;
}
.page-home footer, .page-home .container.fullsite hr {
    display: none;
}

#home_bg_loop {
    -webkit-transition: opacity .8s ease-out;
    -moz-transition: opacity .8s ease-out;
    -o-transition: opacity .8s ease-out;
    -ms-transition: opacity .8s ease-out;
    transition: opacity .8s ease-out;
}

.head img {
    width: 100%;
    height: auto;
}

.container.fullsite {
    width: 860px;
    margin-left: auto;
    margin-right: auto;
}

.work_skip_button { font-size: 24px; }
.work_skip_prev { float: left; }
.work_skip_next { float: right; }

.container.mobile {
    width: 100%;
    display: none;
    background: white;
	margin-top: 0px;
}


#supra_menu {
	position:absolute !important;
	left: 0 !important;
	top: 0 !important;
	background-color: white;
	opacity: 0.80;
	height: 175px !important;
    margin-top: 0px !important;
    width: 100%;
	z-index: 10000;
}

.front_super_menu {
	position:relative !important;
	width: 860px !important;
	margin-right: auto !important;
	margin-left: auto !important;
}

#menu {
	font-family: 'Tungsten-Medium', serif;
	font-style: normal;
  font-size: 48px;
  margin-top: 66px;
  width: 100%;
  height: 54px;
}

#menu a {
	color: #000000;
}

#menu a:hover {
	color: #787674;
}

#menu div, #cat_menu div {
	margin-right: 25px;
    float: left;
    clear: none;
}

#cat_menu div {
	font-size: 24px;
}

#cat_menu a.selected {
    color: #ce3229;
}

#menu div.last {
	margin-right: 0;
}
#menu .stage {
    margin-left: 87px;
}
#menu .backstage {
    margin-left: 45px;
}
#menu .production {
    margin-left: 35px;
}
#menu .last {
    float: right;
}

.content {
    /*width: 100%;*/
    margin-top: 40px;
    margin-bottom: 40px;
}

#home {
    position: fixed;
    z-index: 9;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#home .bg {
    position: absolute;
}
#home .videowrap {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    padding:0;
}

.show_caption {
	text-align: left;

}

.video-sub-name {
  width: 252px;
  height: 20px;
  top: -51px;
  position: relative;
  text-align: center;
  background-color: rgba(0, 0, 0, .5);
  color: #FFF;
  z-index: 5000;
  padding: 2px 10px 2px 10px;
  margin-bottom: 0;
  margin-top: 0;
}

.video-sub-description {
  position: relative;
  width: 280px;
  height: 100px;
  margin: 0;
  background-color: #FFF;
  p {
    margin-top: 0;
    line-height: 14px;
    font-size: 12px;
    font-family: "futura-pt",sans-serif;
    font-weight: 500;
  }

}

.video-sub-description {
  margin-top: -22px;
}

nav.front_super_menu {
	z-index:10;
	position:relative;
	height: 300px;
}

nav.front_super_menu a {

}

#frontmenu {
    width: 100%;
    height: 100%;
    position: relative;
    /*position: absolute;*/
    z-index: 10;
    /*width: 100%;*/
//	text-shadow: 1px 1px 1000px #000000;
}

#frontmenu .inner {
    width: 1024px;
    height: 150px;
    overflow: hidden;
	margin: 0 auto;
    position: absolute;
    top: 25px; left: 0; bottom: 0; right: 0;
	font-size: 36px;
	font-weight: 600;
	text-align: center;
}

#frontmenu .inner a {
	color: #ffffff;
	margin-right: 15px;
}

#frontmenu .inner a.super_logo {
	font-size: 64px;
//	margin-right: 200px;
}

#frontmenu .inner a:hover {
	color: #ce3229;
}

#frontmenu .inner .front_logo {
	font-size: 42px;
}

#frontmenu .inner .front_logo a {
	color: #D3463E !important;
}

#frontmenu .hl {
    width: 188px;
    margin-left: 12px;
    padding-bottom: 4px;
    margin-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #fff;
}

#stage {
}

#backstage .head {
    margin-bottom: 20px;
}
/*#backstage .cols {
    height: 950px;
}*/

#backstage .left {
    float: left;
    margin-right: 20px;
    width: 180px;
    /*height: 930px;*/
    height: 961px;
    background-color: #161515;
    padding-left: 20px;
    padding-top: 40px;
}
#backstage .left p {
    margin-top: 0;
    text-transform: uppercase;
    font-family: 'Tungsten-Medium', serif;
//	font-family: "futura-pt",sans-serif;
    /*font-size: 21px;
    line-height: 34px;*/
    font-size: 18px;
    line-height: 27px;
    -webkit-font-smoothing: antialiased;
    color: white;
    /*text-shadow: 0px 0px rgba(255, 255, 255, 0.8);*/
}
#backstage .left p .email {
    font-size: 18px;
}
#backstage .left hr {
    border-top: 1px solid white;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 40px;
}
#backstage .left p.feat {
    line-height: 30px;
}
#backstage .left p .star {
    font-size: 15px;
    line-height: 15px;
    display: inline-block;
    height: 17px;
    position: relative;
    top: -2px;
    margin-right: 1px;
}
#backstage .left a.feat {
    display: inline-block;
    clear: left;
	font-family: 'Tungsten-Medium', serif;
//	font-family: "futura-pt",sans-serif;
    /*font-size: 13px;*/
    font-size: 18px;
    text-transform: uppercase;
    /*text-transform: uppercase;*/
    line-height: 10px;
    position: relative;
    top: -6px;
}
#backstage .right {
    float: right;
}
#backstage .card {
    width: 540px;
    padding: 20px;
    padding-right: 90px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
.card p {
    margin: 0;
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 20px;
}
.card .name {
    text-transform: uppercase;
    font-family: 'Tungsten-Medium', serif;
//	font-family: "futura-pt",sans-serif;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    color: #222;
    /*text-shadow: 0px 0px rgba(0, 0, 0, 0.5);*/
}

#videoFrame {
    width: 860px;
    height: 0;
    background: black;
    margin-bottom: 20px;

    -webkit-transition: height 1s ease-in-out;
    -moz-transition: height 1s ease-in-out;
    -o-transition: height 1s ease-in-out;
    transition: height 1s ease-in-out;
}

#videoFrame.show {
    height:484px;
}

.image-carousel {
    position: relative;
    width: 860px;
    height: 382px;
}

.image-carousel img {
    display: block;
    position:absolute;
    width: 100%;
    height: auto;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.image-carousel img.opaque {
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
}

#backstage .card.jappe {
}
#backstage .card.jappe .info {
    padding-top: 27px;
}
#backstage .card.jp {
}
#backstage .card.jp .info {
    padding-top: 27px;
}
#backstage .card.pauliina {
}
#backstage .card.pauliina .info {
    padding-top: 25px;
}
#backstage .card.jussi {
}
#backstage .card.jussi .info {
    padding-top: 7px;
}
#backstage .card img {
    float: right;
}

#production .head {
    margin-bottom: 50px;
}

#production .head .col1 {
    float: left;
    clear: none;
    width: 250px;
    margin-right: 20px;
}
#production .head .col2 {
    float: left;
    clear: none;
    width: 570px;
}

#production .head p {
    font-size: 18px;
    line-height: 18px;
    clear: none;
    margin: 0;
}
#production .head .col1 p {
    font-size: 19px;
    /*line-height: 30px;*/
    line-height: 34px;
}
#production .head .col2 p {
    margin-top: 3px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 25px;
	margin-right: auto;
	margin-left: auto;
	width: 500px;
	text-align: center;
}

#production p {
  font-family: "futura-pt",sans-serif;
  font-size: 14px !important;
  line-height: 20px !important;
  text-align: justify;
  text-justify: inter-word;
  margin-right: auto;
  margin-left: auto;
}



.super_about {
	font-family: "futura-pt",sans-serif;
	font-size: 14px !important;
	line-height: 20px !important;
	text-align:justify;
	text-justify: inter-word;
	margin-right: auto;
	margin-left: auto;
	width: 600px;
}




#production .head .col3 p {
    margin-top: 10px;
    margin-left: 3px;
}

.folio {
    margin-bottom: 0px;
    clear: both;
}

.folio .title {
    /*margin-bottom: 7px;*/
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Tungsten-Medium', serif;
//	font-family: "futura-pt",sans-serif;
    font-size: 23px;
    -webkit-font-smoothing: antialiased;
    color: #222;
    /*text-shadow: 0px 0px rgba(0, 0, 0, 0.5);*/
}

.folio .thumb {
    width: 200px;
    height: 113px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: -2px;
    background-color: black;
    float: left;
    /*clear: none;
    display: inline-block;
    */
}

.folio .thumb.fullwidth_last {
    margin-right: 0;
}

.folio .last {
    width: 200px;
    /*float: none;*/
    margin-right: 0;
}

#stage .folio .last {
    margin-right: 0px;
}

#production .thumb img {
    width: 200px;
    height: 113px;
}


.folio .stage .thumb {
    width: 272px;
    height: 153px;
    position: relative;
    /*
    left: 0;
    right: 0;
    */
}
.folio .stage .thumb .videowrap {
    width: 320px;
    height: 180px;
    overflow: hidden;
    -webkit-transform: scale(0.85, 0.85);
    -webkit-transform-origin: 0 0;
    transform: scale(0.85, 0.85);
    transform-origin: 0 0;
}

.folio .stage .thumb .playarrow {
    position: absolute;
    left: 98px;
    top: 45px;
    width: 64px;
    height: 69px;
    background-image: image-url('videothumb_play.png');
    z-index: 9000;

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=$play-button-opacity);
    -moz-opacity:$play-button-opacity;
    -khtml-opacity: $play-button-opacity;
    opacity: $play-button-opacity;

    -webkit-transition: opacity .6s ease-out;
    -moz-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
    -ms-transition: opacity .6s ease-out;
    transition: opacity .6s ease-out;
}

.folio .stage .thumb .playarrow.show {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}

.video-thumb a {
    display: block;
    position: relative;
}

.video-thumb-description {
  min-height: 440px !important;
  overflow: visible;
  background-color: #FFF !important;
  h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
  }
  .video-sub-description {
    padding-top: 2px;
  }
}

.mobile .playarrow {
    position: absolute;
    width: 64px;
    height: 69px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    transition: background-image 0.3s ease-in-out;
    background-image: image-url('videothumb_play.png');
}

.playarrow:hover {
  cursor: pointer;
  background-image: image-url('videothumb_play_hover.png');
}

#footer {
    width: 100%;
    height: 90px;
    background-color: #161515;
}
#footer .btmstripe {
    position: relative;
    top: 86px;
    width: 100%;
    height: 4px;
    background-color: #a7a6a6;
}
#footer p {
	font-family: 'Tungsten-Medium', serif;
    color: #aaa;
    font-size: 18px;
    text-align: center;
    padding: 14px 10px 0 10px;
}

#footer a {
    color: #aaa;
}

@media only screen and (max-width: 899px) {

    .container.fullsite {
        width: 688px;
    }

    .mobile-info-panel {
        display: block;
    }

    .image-carousel {
        position: relative;
        width: 688px;
        height: 306px;
    }

    #videoFrame {
        width: 588px;
        margin-left: auto;
        margin-right: auto;
    }

    #videoFrame.show {
        height:331px;
    }

    #menu .stage {
        margin-left: 50px;
    }
    #menu .backstage {
        margin-left: 20px;
    }
    #menu .production {
        float: right;
        margin-left: 0px;
    }
    #menu .last {
        float: none;
        position: relative;
        left: 624px;
        top: -116px;
    }
    p {
        font-size: 15px;
        line-height: 23px;
    }
    #production .head img {
        margin-bottom: 40px;
    }
    .folio .thumb {
        margin-right: 44px;
    }

    .folio .last {
         margin-right: 0;
    }

    .folio .thumb.fullwidth_last {
        margin-right: 44px;
    }

    .folio .third_col {
        margin-right: 0 !important;
    }

    #stage .folio .last {
        margin-right: 44px;
    }

    #stagethumbs {
        width: 588px;
        margin: 0 auto;
    }

    #stagethumbs .tablet-last {
        margin-right: 0 !important;
    }

    #production .head .col2 {
        float: right;
    }

    #production .head .col3 {
        display: none;
    }

    #backstage .left {
        display: none;
        float: none;
        height: auto;
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    #backstage .left p {
        margin: 0; padding: 0;
    }

    #backstage .left hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #backstage .left .inner {
        padding: 20px;
    }

    #backstage .right {
        float: none;
    }

    #backstage .right .card {
        width: auto;
    }

}
@media only screen and (max-width: 719px) {
    .container.fullsite {
        display: none;
    }
    .container.mobile {
        display: block;
    }

    .not-mobile {
        display: none;
    }

    #footer p {
        font-size: 16px;
    }
}

.container.mobile .top .bg {
    background: image-url("header-mobile-large.jpg") no-repeat center;
    width: auto;
    height: 959px;
}

@media only screen and (max-width: 500px) {
    .container.mobile .top .bg {
        background: image-url("header-mobile-medium.jpg") no-repeat center;
        height: 667px;
    }
}

@media only screen and (max-width: 320px) {
    .container.mobile .top .bg {
        background: image-url("header-mobile-small.jpg") no-repeat center;
        height: 427px;
    }

    .mobile .top .info {
        height: 100%;
		margin-top: 60px !important;
    }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container.mobile .contact-info {
    text-align: left;
}

.container.mobile .contact-info a {
    display: block;
    padding-top: 10px;
}

.container.mobile .contact-info {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.container.mobile .contact-info .contact-icon {
    width: 30%;
    text-align: center;
    padding-left: 10px;
}

.container.mobile .contact-info .contact-details {
    width: 70%;
}

.container.mobile .contact-info .contact-details ul {
    padding-bottom: 27px;
}

.container.mobile .contact-info dd {
    margin: 0; padding: 0;
    margin-bottom: 26px;
}

.container.mobile .contact-info td {
    vertical-align: top;
}

.container.mobile .contact-info td {
    margin-left: auto;
    margin-right: auto;
}

.container.mobile .contact-info .sub-title {
    text-transform: uppercase;
}

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(sprite.png);}

#menu .home a {
    width:128px; height:50px; background-position: -2px -106px;
}

#menu .home a:hover {
	color: #ce3229;
}

#menu .stage a {
    width:69px; height:50px; background-position: -132px -106px;
}

#menu .stage a:hover, .page-stage #menu .stage a {
    width:69px; height:50px; background-position: -203px -106px;
}

#menu .backstage a {
    width:157px; height:50px; background-position: -241px -2px;
}

#menu .backstage a:hover, .page-backstage #menu .backstage a {
    width:157px; height:50px; background-position: -241px -54px;
}

#menu .production a {
    width:237px; height:50px; background-position: -2px -2px;
}

#menu .production a:hover, .page-productionservice #menu .production a {
    width:237px; height:50px; background-position: -2px -54px;
}
#menu #fb a {
    width:64px; height:50px; background-position: -340px -106px;
}

#menu #fb a:hover {
    width:64px; height:50px; background-position: -274px -106px;
}

.video-placeholder-img {
//    background: image-url('video-bg.jpg') no-repeat center center fixed;

    /* Set rules to fill background */
    min-height: 100%;
    min-width: 2048px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
//	margin-top: 175px !important;
    top: 175px !important;
    left: 0;
//	---------------------------------------------------------------------------
}

nav#menu ul {
  text-align: left;
  display: inline;
  margin: 0;
  list-style: none;
}
nav#menu ul li {
  display: inline-block;
  position: relative;
  padding-right: 40px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 36px;
}

nav#menu ul li.up_bump {
	bottom: 45px;
}

nav#menu ul li.up_bump_image {
	bottom: 10px;
}

nav#menu ul li ul {
  padding: 0;
  position: absolute;
  top: 38px;
  left: 0;
  width: 190px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  z-index: 100;
}
nav#menu ul li ul li {
  background: #fff;
  display: block;
  color: black;
  font-size: 20px;
  padding-left: 10px;
  text-transform: lowercase;
  z-index: 100;
  padding-top: 0;
  padding-bottom: 0;
}

nav#menu ul li ul li:hover {
   color: #ce3229;
}

nav#menu ul li:hover ul {
  display: block;
  opacity: 0.87;
  visibility: visible;
  z-index: 200;
}

li#docs-features, li#docs-features a, li.psa-list-li::first-line, li.psa-list-li:first-line > a {
  color: #ba1937;
}


li#docs-features a:hover, li.psa-list-li::first-line:hover {
  color: #FF0022;
}

.sub-menu-floated {
  position: absolute;
  top: 50%;
  left: -100%;
  margin: 0;
  padding: 0;
  width: 50px;
  float:right;
  clear: left;
  z-index: 5000;
}

li#psa-list {
  @extend .sub-menu-floated;
  position: absolute;
  display: list-item;
  // margin-top: -60px;
  // margin-bottom: -0px;
  // height: 82px;
  z-index: 6000;
}

.psa-list-li{
  z-index: 9000;
}


.psa-list-li ul, li#psa-list, li#psa-list a {
  color: #ba1937;
  display: none;
}

ul#psa-sub-ul {
  display: none !important;
}

.psa-list-li:hover ul#psa-sub-ul {
  display: block !important;
}

li.psa-list-li:hover ul li#psa-list a {
  z-index: 4000;
  display: block;
}


ul.psa-list-ul {
  position: absolute;
  top: -10px !important;
}

.team_paragraphs {
	font-family: "futura-pt",sans-serif;
	font-size: 14px !important;
	line-height: 20px !important;
	text-align: justify;
	text-justify: inter-word;
	margin-right: auto;
	margin-left: auto;
	width: 600px;
}



.card_center {
	margin-left:auto;
	margin-right:auto;
	width:600px
}

.show_caption {
	text-align: left;
	font-size: 12px;
	font-family: "futura-pt",sans-serif;
	font-weight: 700;
}

.show_cap_description {
	font-weight: 500;
	white-space: pre;
}
