<ul class="work-list">
<% Work.where(mobile: true).shuffle[0..10].each_with_index do |work, index| %>
  <% next if work.host_id == 2 %>
    <li>
      <%= render partial: 'layouts/work_item_mobile', locals: {work: work, index: index} %>
      <br>
    </li>
<% end %>
</ul>
