<div class="thumb video-thumb video-thumb-mobile" data-video-code="<%= work.video_code %>" data-video-title="<%= work.title %>">

  <div class='playarrow'></div>
  <div class="videowrap">
    <%= image_tag_from_asset_server(work) %>
    <%= work.title %>

</div>
