<!DOCTYPE html>
<!--[if lt IE 7]>	<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>		<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>		<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>	<html class="no-js"> <![endif]-->
<html>
<head>
	<title>Bunny Lake Films</title>
    <meta name="description" content="Films, television, commercials and web content">
    <meta name="keywords" content="video, commercial, production, director, nyc, BunnyLake">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <meta property="og:description" content="Creative NYC production studio specializing in documentary, feature films, commercials and branded web content.">
    <meta property="og:title" content="Bunny Lake Films">
    <meta property="og:url" content="http://www.bunnylakefilms.com/">
    <meta property="og:site_name" content="www.bunnylakefilms.com">

	<!-- <script src="//use.typekit.net/aoq3xig.js"></script>
	<script>try{Typekit.load();}catch(e){}</script> -->

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

	<%= yield %>

</html>
